
 body {
  
  border-radius: 4rem;
  border-width: 0.4rem;
  border-collapse: collapse;
  outline: none;
  box-shadow:black;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
 
  color:black;
}

.App {
  text-align: center;
}

.taskBg {
  background-color:black;
  color: white;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color:white;
  border: 1px solid white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.2 ;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: white;
}

.taskBg .iconsWrap span:hover {
  color: green;
}

.mr-20 {
  margin-right: 20px;
}


.col input{
  border: 2px solid black;
  color: black;
  border-radius:  0.4rem;
  width: 50rem;
  height: 2rem;
  margin-left: 2rem;
  
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    
    background-color: rgb(46, 145, 244);
    border-radius: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
  margin-top: -15%;
}

section {
    width: 100%;
    max-width: 700px;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
    
    
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea,
select {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
img{
  width: 600px;
  height: 370px;
  align-content: center;
  margin-left: 10px;
}
.mangoes,.orange{
  margin-left: 80px;
  width:1000px ;
  height: 470px;
}
h1{
  font-weight: bolder;
  font-family: sans-serif;
  font-size: 2rem; 
}
h3{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 2rem; 
}
p{
  font-family: sans-serif;
  font-size: 1rem; 
}